Assignment 1

In [ ]:
import sqlite3

def create_db(table_name):
    return sqlite3.connect(table_name)

connection = create_db("test.db")
cursor = connection.cursor()

def create_table():    
    cursor.execute('''
        Create Table If Not Exists employees(
                            id Integer Primary Key,
                            name Text not null,
                            age Integer not null,
                            department Text not null)
                            ''')
    
    connection.commit()
    
create_table()

In [3]:
connection.commit()

Assignment 2

In [56]:
employee_data = [
    (1,"Adam",24,"CS"),
    (2,"Bob",34,"EC"),
    (3,"Cindy",21,"ET"),
    (4,"Dan",23,"VS"),
    (5,"Eve",34,"VS")
]

In [55]:
def insert(data):
    cursor.executemany('''
        INSERT INTO employees(id,name,age,department) 
                    values(?,?,?,?)
    ''',data)

    connection.commit()

In [11]:
connection.commit()

Assignment 3

In [52]:
def query_all():
    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()

    for row in rows:
        print(row)

query_all()

(1, 'Adam', 45, 'CS')
(2, 'Bob', 43, 'EC')
(3, 'Cindy', 43, 'ET')
(4, 'Dan', 43, 'VS')
(5, 'Eve', 43, 'VS')

In [34]:
def query(id):
    cursor.execute(f'SELECT * FROM employees WHERE department = "{id}"')
    rows = cursor.fetchall()

    for row in rows:
        print(row)

query("VS")

(4, 'Dan', 46, 'VS')
(5, 'Eve', 43, 'VS')

In [40]:
def update(id,age):
    cursor.execute(f'''UPDATE employees 
                Set age = {age}
                where id = {id}''')
    
    connection.commit()
    
update(2,54)

Assignment 5

In [36]:
def delete(id):
    cursor.execute(f'''DELETE from employees
                   where id = {id}
''')
    connection.commit()
    
delete(4)

Assignment 6

In [43]:
def older_than(age):
    cursor.execute(f'''SELECT * from employees
                   where age > {age}
''')
    
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    
older_than(43)

def starts_with(letter):
    cursor.execute(f'''
        SELECT * from employees
        where name LIKE "{letter}%"
''')
    
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    
starts_with('B')

(1, 'Adam', 45, 'CS')
(2, 'Bob', 54, 'EC')
(2, 'Bob', 54, 'EC')

Assignment 7

In [62]:
cursor.close()
connection.close()

In [60]:
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

In [68]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
database is locked